<div class="row ordenar">
    <div class="col-lg-2 col-md-3 col-sm-4 col-4" id="divDropdown">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>Ordenar</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="modificarOrdenProductos('Precio Menor')">Precio Menor</button>
          <button ngbDropdownItem (click)="modificarOrdenProductos('Precio Mayor')">Precio Mayor</button>
          <button ngbDropdownItem (click)="modificarOrdenProductos('Cantidad Menor')">Cantidad Menor</button>
          <button ngbDropdownItem (click)="modificarOrdenProductos('Cantidad Mayor')">Cantidad Mayor</button>
          <button ngbDropdownItem (click)="modificarOrdenProductos('Disponibilible')">Disponibilible</button>
        </div>
      </div>
    </div>
    <div class="col-lg-5  col-md-9 col-sm-8 col-8">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">Precio: </span>
          </div>
          <input class="form-control" type="number" min="0" placeholder="Min" [(ngModel)]="_precioMinimo">     
          <input class="form-control" type="number" min="0" placeholder="Max" [(ngModel)]="_precioMaximo">
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-8">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">Stock: </span>
          </div>
          <input class="form-control" (change)="notificarFiltroStock($event)"
                 type="number" min="0" value="0" placeholder="Minimo" [(ngModel)]="_stock">    
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-6 col-4 btnBuscar">
        <button class="btn btn-dark" (click)="notificarFiltroStock($event)">Filtrar</button>
    </div>
</div>
  