<div class="row ordenar">
    <div class="col-sm-2">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Ordenar</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Precio Menor</button>
          <button ngbDropdownItem>Precio Mayor</button>
          <button ngbDropdownItem>Cantidad Menor</button>
          <button ngbDropdownItem>Cantidad Mayor</button>
          <button ngbDropdownItem>Disponibilible</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">Precio: </span>
          </div>
          <input class="form-control" type="number" min="0" placeholder="Min">     
          <input class="form-control" type="number" min="0" placeholder="Max">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">Stock: </span>
          </div>
          <input class="form-control" (change)="notificarFiltroStock($event)"
                 type="number" min="0" value="0" placeholder="Minimo">    
        </div>
    </div>
    <div class="col-sm-3 btnBuscar">
        <button class="btn btn-dark">Buscar</button>
    </div>
</div>
  