.ordenar {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid gray;
    border-radius: 5px;
}

.precio .form-control{
    width: 30px;
    height: 25px;
}
.btnBuscar{
    text-align: right;
}