.list-group-item {
    border: 0px;
    background-color: transparent;
}

a,li.list-group-item, #itemMenuPrincipal,  a:not([href]):not([tabindex]){
    color: white;
  }
a:not([href]):not([tabindex]) {
    text-decoration: none;
}

.list-group-item span {
    cursor: pointer;
    right: 0;
    border: solid #222;
    border-width: 0 1px 1px 0;
    transform: rotate(40deg);
    transition: .3s transform ease-in-out;
    display: inline;
    padding: 3px;
    position: absolute;
}
#itemSubmenu{
    color: white;
    animation: fadein 2s;  
    font-size: 1.1em;
}

#inputBuscar{
    width: 100%;
    font-family: auto;
    font-size: small;
}