<div class="card card-inverse card-info">
    <img class="card-img-top" src="https://picsum.photos/200/150/?random">
    <div class="card-block">                    
        <p class="card-title">{{item.name}}</p>   
        <div class="card-text">
            <p><b>Valor:</b> {{item.price}}</p>
            <p><b>{{txt_stock}}</b> {{item.quantity}}</p>                           
        </div>
        
        <ng-container *ngIf="!is_carrito" class="card-footer">
            <button class="btn btn-dark btn-sm card-footer-button" (click)="agregarCarrito()">Agregar</button>
        </ng-container>
        <ng-container *ngIf="is_carrito" class="card-footer container">
            <div class="row card-modificar">
                <button class="col-sm-2 btn btn-dark btn-sm btnmodicantidad" (click)="decrementar()">-</button>
                
                <input class="col-sm-4 inputcantidad" value={{item.quantity}} type="number"/>    
                
                <button class="col-sm-2 btn btn-dark btn-sm btnmodicantidad" (click)="incrementar()">+</button>

                <button type="button" class="remove col-sm-2 btn btn-danger btnmodicantidad" (click)="abrirConfirmacion(item)">
                        <span aria-hidden="true">&times;</span>
                </button>

                
            </div>
        </ng-container>
    </div>
</div>
