<nav class="navbar navbar-expand-md navbar-dark bg-white" id="contenedor-navbar">              
        <button class="navbar-toggler" type="button"
                (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>    
        <app-menuuser></app-menuuser>
        <div class="collapse navbar-collapse" id="divCollapse"
                [ngClass]="{ 'show': menuColapsado }">            
            <ul class="list-group">
                <li class="list-group-item">
                    <div id="itemMenuPrincipal" (click)="Colapsar()">
                        <a data-toggle="collapse" routerLink="/" >Productos</a>
                        <span class="mr-3"></span> 
                    </div>



                    <div class="collapse" [ngClass]="{ 'show':itemColapsado }" >
                        <ul class="list-group" *ngFor="let categoria of categorias; index as i">
                            <li class="list-group-item">
                                <div id="itemMenuPrincipal" (click)="visualizarSubcategoria(categoria.id)">
                                    <a data-toggle="collapse" routerLink="/listaProductos/{{categoria.id}}/null">{{categoria.name}}</a>
                                    <span class="mr-3" ></span>
                                </div>
                                <app-menu-item 
                                    [itemColapsado]="getEstadoSubcategoria(categoria.id)"                                        
                                    [hijos]="categoria.sublevels"
                                    ></app-menu-item>  
                            </li>
                        </ul>
                    </div>              
                </li>                
                <li class="list-group-item">
                    <a routerLink="/carrito" id="itemMenuPrincipal">Carrito</a>
                </li>
            </ul>
        </div> 
  
</nav>
