.navbar-nav {
    display: inline-block;
}

.navbar-collapse {
  align-items: flex-start;
}

#divCollapse{
  height: 100%;
}

#contenedor-navbar{
  position: relative;
  height: 100%;
  display: contents;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.navbar-toggler{
  background: #7dc3d0;
}

a,li.list-group-item, #itemMenuPrincipal,  a:not([href]):not([tabindex]){
  color: white;
}


a:not([href]):not([tabindex]) {
  text-decoration: none;
}

ul.list-group{
    width: 100%;
}
li.list-group-item{
    list-style:none;
    font-family: 'Bungee';
}

#itemMenuPrincipal{
  animation: fadein 2s;  
  font-size: 1.5em;
}


@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:5;
  }
}
.list-group-item span {
  cursor: pointer;
  right: 0;
  border: solid #222;
  border-width: 0 1px 1px 0;
  transform: rotate(40deg);
  transition: .3s transform ease-in-out;
  display: inline;
  padding: 3px;
  position: absolute;
}
.list-group-item {
  border: 0px;
  background-color: transparent;
}

