<div class="container-fluid">
    <app-filtro (OnFiltroChange)="filtrarProductos($event)"
                (OnOrdenChange)="ordenarProductos($event)"></app-filtro>
    <div class="row">
        <div  *ngFor="let producto of productos" class="col-sm-6 col-lg-4 col-xl-3">
        <app-card 
            [(item)]="producto"                
            [txt_stock]="txt_stock"
            [carrito]="carrito"
            [is_carrito]="false"></app-card>
            
            </div>
        </div>
</div>