<nav class="navbar navbar-expand-sm navbar-dark bg-white">              
        <button class="navbar-toggler" type="button"
                (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>    
        
        <div class="collapse navbar-collapse" id="divCollapse"
                [ngClass]="{ 'show': menuColapsado }">            
            <ul class="list-group">
                <li class="list-group-item">
                    <a data-toggle="collapse" (click)="Colapsar()">
                        <span id="menuPrincipal"class="mr-3"></span> Productos
                    </a>
                    <div class="collapse" [ngClass]="{ 'show':itemColapsado }" >
                        <ul class="list-group" *ngFor="let categoria of categorias; index as i">
                            <li class="list-group-item">
                                    <a data-toggle="collapse" routerLink="/listaProductos/{{categoria.id}}">
                                        <span class="mr-3" (click)="visualizarSubcategoria(categoria.id)"></span>{{categoria.name}}</a>
                                    <app-menu-item 
                                        [itemColapsado]="getEstadoSubcategoria(categoria.id)"
                                        [hijos]="categoria.sublevels"
                                        ></app-menu-item>  
                            </li>
                        </ul>
                    </div>              
                </li>                
                <li class="list-group-item">
                    <a routerLink="/carrito" id="menu-description">Carrito</a>
                </li>
            </ul>
        </div> 
        <div *ngFor="let item of productos">
            <p style="color: red">{{item.name}}+</p>
        </div>      
</nav>
