<nav class="navbar navbar-expand-sm navbar-dark bg-dark">              
        <button class="navbar-toggler" type="button"
                (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>    
        
        <div class="collapse navbar-collapse" id="divCollapse"
                [ngClass]="{ 'show': isCollapsed }">            
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/listaProductos/{{id}}" id="menu-description">Productos</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" routerLink="/carrito" id="menu-description">Carrito</a>
                </li>
            </ul>
        </div> 
        <div *ngFor="let item of productos">
            <p style="color: red">{{item.name}}+</p>
        </div>      
</nav>
