<div class="collapse" [ngClass]="{ 'show':itemColapsado }" >
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let categoria of hijos">
            <a id="itemSubmenu" data-toggle="collapse" routerLink="/listaProductos/{{categoria.id}}" >{{categoria.name}}</a>
            <span *ngIf="categoria.hasOwnProperty('sublevels')" class="mr-3" (click)="Colapsar(categoria.id)"></span>
            <div class="collapse" [ngClass]="{ 'show': hijoColapsado }" >
                <app-menu-item  *ngIf="categoria.hasOwnProperty('sublevels')" 
                [hijos]="categoria.sublevels"
                [itemColapsado]="hijoColapsado"></app-menu-item> 
            </div>
            <input id="inputBuscar" class="form-control" *ngIf="!categoria.hasOwnProperty('sublevels')" type="text" placeholder="Buscar Producto"/>
        </li>   
    </ul>
</div>
