
.card {
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-bottom: 20px;
}

.card-block {
    position: relative;
    margin: 0;
    padding: 0.8em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-weight: 700;
    line-height: 1.2857em;
    text-align: center;
    text-transform: uppercase;
}
@media (min-width:1300px){
    .card-title{
       font-size: 22px;
    }
    .card-text{
        font-size: 17px;
    }
}

@media (max-width:1299px) and (min-width:700px){
    .card-title{
       font-size: 20px;
    }
    .card-text{
        font-size: 14px;
    }
}
@media (max-width:700px) and (min-width:575px) {
    .card-title{
       font-size: 14px;
    }
    .card-text{
        font-size: 13px;
    }
}

@media (max-width:574px) and (min-width:0px) {
    .card-title{
       font-size: 35px;
    }
    .card-text{
        font-size: 20px;
    }
}


.card-text {
    clear: both;
    margin-top: .5em;
    color: black
}

.card-footer {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: .75em 1em;
    background: #fff;
}
button.card-footer-button{
    float: right;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

/*.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}*/

.text-bold {
    font-weight: 700;
}

.meta {
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}