
h6{
    text-align: center;
    color: white;  
}

h6 i{
    font-family: var(--estilo-letra);
}
#divMenuuser{
    text-align: center;
    margin-top: 10px;
}

#card-img-top{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

